.popup-photo__close{
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: -40px;
    right: -40px;
}

.popup-photo__close:hover {
    opacity: .6;
    transition: opacity .5s;
    cursor: url('../../../images/cursor.png'), pointer;
}

.popup-photo__close:focus {
    outline: none;
}

@media screen and (max-width: 425px) {
    .popup-photo__close {
        top: -32px;
        right: -31px;
    }
}