.header__link_out {
    color: #A9A9A9;
    margin-left: 24px;
}

.header__link_out:hover {
    opacity: .8;
    transition: opacity .5s;
    cursor: url('../../../images/cursor.png'), pointer;
}

@media screen and (max-width: 320px) {
    .header__link_out {
        margin-left: 10px;
        margin-top: 3px;
    }
}