.cards {
    max-width: 882px;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    row-gap: 21px;
    column-gap: 18px;
    margin: 0 auto;
    
}

@media screen and (max-width: 900px) {
    .cards {
        max-width: 585px;
        grid-template-columns: repeat(2, 282px);
    }
}

@media screen and (max-width: 580px) {
    .cards {
        max-width: 282px;
        grid-template-columns: 282px;
        gap: 16px;
    }
}