.header {
    min-width: 882px;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 30px;
    position: relative;
    border-bottom:  1px solid rgba(84, 84, 84, .7);
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1000px) {
    .header {
        min-width: 690px;
        margin: 0 40px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        min-width: 500px;
        padding-top: 32px;
    }
}

@media screen and (max-width: 570px) {
    .header {
        min-width: 400px;
        padding-left: 27px;
        margin: 0;
    }
}

@media screen and (max-width: 425px) {
    .header {
        min-width: 380px;
        margin: 28px 36px 32px 22px;
        padding: 0;
    }
}