.header {
    max-width: 882px;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 40px;
    position: relative;
    border-bottom:  1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 1000px) {
    .header {
        max-width: 690px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 500px;
        padding-top: 32px;
    }
}

@media screen and (max-width: 570px) {
    .header {
        padding-left: 27px;
    }
}

@media screen and (max-width: 425px) {
    .header {
        padding-top: 28px;
        padding-bottom: 32px;
    }
}